# Ignore all work folders

*.log
*.tmp
*.csv
*.sav
*.nc
ssp_rcp/work
zonaL_statistics/work
promedscrape/work
gee_dengue_ml/work

# Snakemake
.snakemake/
**/.snakemake/

# Conda / environments
conda/
.env/
venv/
