/*
 * nextflow.config
 * ----------------
 * Uses conda environments to manage Python, XGBoost, RAPIDS (cuDF), Optuna, SHAP, and other dependencies.
 */

nextflow.enable.dsl=2  // ensure DSL2

process {
    executor = 'local'          // change to slurm/SGE if needed
    cpus = 4                    // default CPU allocation per process
    memory = '16 GB'            // default memory
    time = '6h'                 // default max runtime per process

    // Enable conda for all processes
    conda = '/home/patwuch/miniforge3/envs/gee_dengue_ml'
    condaAutoActivate = true
    shell = ['/bin/bash', '-c']
}

params {
    config_input = "WT1014"
    n_trials = 40
    project_root = "./"
}
